.grid-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid-item {
  flex-grow: 1;

  @media #{$bp-2-column-grid} {
    max-width: 50%;
  }

  @media #{$bp-3-column-grid} {
    max-width: percentage(1/3);
  }

  @media #{$bp-4-column-grid} {
    max-width: 25%;
  }
}
