%type-margin-reset {
  margin-bottom: 0;
  margin-top: 0;
}

.h1 {
  @extend %type-margin-reset;

  font-size: 2.5em;
}

.h2 {
  @extend %type-margin-reset;

  color: map-get($colors, text);
  font-size: 1.35em;
}

.h3 {
  @extend %type-margin-reset;

  color: lighten(map-get($colors, text), 15); ;
  font-size: 1em;
}
